{#
/**
 * @file
 *
 * Empty cart page template.
 *
 * @ingroup themeable
 */
#}
<div class="cart-empty-page">
  <strong>{{ 'Your shopping cart is empty.'|t }}</strong>
</div>
<div id="continue-shopping-link">
  <a href="http://www.cypress.com/cypress-store">Continue Shopping</a>
</div>
